<div id="messages-container">
<ul class="messages list-group">
    <li class="message list-group-item"></li>
    <li class="message list-group-item"></li>
    <li class="message list-group-item"></li>
</ul>
</div>
<div id="chat-input-container">
    <%= f = form_for :input, "#",
            phx_submit: "send-message",
            phx_target: @myself %>
        <%= text_input f, :message, placeholder: "Enter text..." %>
    </form>
</div>
